name: Update WordPress plugin assets and readme
on:
    push:
        branches:
            - main
jobs:
    deploy-plugin-readme-assets:
        name: New assets and readme update
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v2
            - name: Update WordPress plugin assets and readme
              uses: 10up/action-wordpress-plugin-asset-update@stable
              env:
                  SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
                  SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
